.container.mx-auto.py-9.md:py-12.px-4.md:px-6
  .content
    .project-info
      = render :partial => "project_info"
    .history-container
      = render :partial => "project_history"

= render :partial => "form"